@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --body-font: 'Noto Sans KR', sans-serif;

  /* Colors */
  --light-blue: #c8f9ff; /* 하늘색 */
  --turquoise: #00bdd6; /* 포인트 색상 */
  --light-gray: #f3f4f6; /* 연한 회색 */
  --medium-gray: #9095a0; /* 중간 회색 */
  --dark-gray: #171a1f; /* 어두운 회색 */
  --white: #ffffff; /* 흰색 */
  --medium-gray-alt: #9095a0; /* 보조 색상 (secondary) */
  --dark-blue-gray: #565e6c; /* 3차 색상 (tertiary) */
  --black: #000000; /* 검정색 */
  --dark-teal: #001d21; /* 어두운 청록색 */
  --light-teal: #0095a9; /* 연한 청록색 */
  --blue: #379ae6; /* 파란색 */

  /* Brand Colors */
  --primary-color: var(--dark-gray);
  --secondary-color: var(--medium-gray);
  --tertiary-color: var(--dark-blue-gray);

  --point-color: var(--turquoise);
  --btn-bg-color: var(--light-blue);
  --border-color: var(--light-gray);
  --bg-color: var(--white);

  /* Size */
  --header-height: 8rem;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--body-font);
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

button {
  color: inherit;
  font-family: var(--body-font);
  background-color: transparent;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 0 2.4rem;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  max-width: 144rem;
}

.header-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 0.8rem;
}

.header-item a {
  display: block;
  padding: 0.8rem 1.6rem;
}

.header-item:hover {
  font-weight: 700;
  color: var(--point-color);
}

.email-btn {
  height: 4.4rem;
  padding: 0 1.6rem;
  margin-left: 1.6rem;
  font-size: 1.6rem;
  color: var(--black);
  background-color: var(--btn-bg-color);
  border-radius: 0.8rem;
  transition: background-color 200ms;
}

.email-btn:hover {
  background-color: var(--point-color);
}

/* Main */

.main {
  display: flex;
  justify-content: center;
  padding: var(--header-height) 2.4rem 0;
}

.container {
  width: 100%;
  max-width: 117.6rem;
}

.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.2rem 0 2.4rem;
}

.user-left {
  display: flex;
  align-self: center;
}

.user-img {
  display: block;
  width: 145px;
  height: 145px;
  margin-right: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-top {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  margin-bottom: 2rem;
}

.user-badge {
  position: relative;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 2rem;
  color: var(--blue);
}

.user-name {
  font-size: 3.2rem;
  line-height: 100%;
  font-weight: 700;
  color: var(--primary-color);
}

.info-bottom {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}

.user-email {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.6rem;
  padding: 0.6rem 1.2rem;
  min-height: 3.6rem;
  font-size: 1.4rem;
  color: var(--tertiary-color);
  background-color: var(--border-color);
  border-radius: 1.2rem;
}

.user-job {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--point-color);
}

.user-list {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}

.user-item {
  border-radius: 0.4rem;
}

.user-item a,
.user-item button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.6rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
}

.user-item:hover {
  color: #006d7c;
  background-color: var(--btn-bg-color);
}
