@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --body-font: 'Noto Sans KR', sans-serif;

  /* Colors */
  --light-blue: #c8f9ff; /* 하늘색 */
  --turquoise: #00bdd6; /* 포인트 색상 */
  --light-gray: #f3f4f6; /* 연한 회색 */
  --medium-gray: #9095a0; /* 중간 회색 */
  --dark-gray: #171a1f; /* 어두운 회색 */
  --white: #ffffff; /* 흰색 */
  --medium-gray-alt: #9095a0; /* 보조 색상 (secondary) */
  --dark-blue-gray: #565e6c; /* 3차 색상 (tertiary) */
  --black: #000000; /* 검정색 */
  --dark-teal: #001d21; /* 어두운 청록색 */
  --light-teal: #0095a9; /* 연한 청록색 */
  --blue: #379ae6; /* 파란색 */

  /* Brand Colors */
  --primary-color: var(--dark-gray);
  --secondary-color: var(--medium-gray);
  --tertiary-color: var(--dark-blue-gray);

  --point-color: var(--turquoise);
  --btn-bg-color: var(--light-blue);
  --border-color: var(--light-gray);
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
  font-size: 1.6rem;
}
